---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'AHQ Softwares | Open Sourced Organization',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'GitHub',
        href: 'https://github.com/AHQ-Softwares',
        target: '_blank',
        icon: 'tabler:brand-github',
      },
      { text: 'Why Us?', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero.png', alt: 'AHQ Softwares Hero Image' }}
  >
    <Fragment slot="title">
      <span class="hidden xl:block">AHQ Softwares</span> The Non Profit Organization
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">AHQ Softwares</span> is a new, non profit organization.</span
      >
       Take a look at our <span class="font-extrabold">GitHub</span> or <span class="font-extrabold"
        >learn more about us</span
      >
    </Fragment>
  </Hero>

  <!-- Philosophy Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Learn about us"
    title="Why contribute to AHQ Softwares?"
    subtitle="We are a vibrant community of developers and tech enthusiasts, united by our passion for innovation and knowledge-sharing. Together, we explore the endless possibilities of technology, inspire creativity, and support each other's growth in the ever-evolving world of software development and technology"
    items={[
      {
        title: 'Not Profit Organization',
        description:
          'We do not care for out profit, we care for quality. This is what makes us different from everyone else. Join us for the innovation...',
        icon: 'tabler:coin-off',
      },
      {
        title: 'Seamless user experience',
        description: 'Creating secure, efficient, and user-friendly applications delivers a seamless user experience.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Great Community',
        description:
          'Caring, Happy and a unqiue community is one of our top most priority. Join us to experience the community yourself.',
        icon: 'tabler:social',
      },
      {
        title: 'Excellent Apps',
        description:
          'We try to make our apps excellent in quality and different in taste that deliver exceptional experiences and lasting value.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Open Sourced',
        description:
          'AHQ Softwares believes in open sourced applications that make our source code visible for anyone to inspect and contribute.',
        icon: 'tabler:source-code',
      },
      {
        title: 'Open to new ideas and contributions',
        description:
          'Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration, and a dynamic user experience.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Discord',
        href: 'https://discord.gg/ugjteAPmXR',
        target: '_blank',
        icon: 'tabler:brand-discord',
      },
      {
        variant: 'secondary',
        text: 'GitHub',
        href: 'https://github.com/AHQ-Softwares',
        target: '_blank',
        icon: 'tabler:brand-github',
      },
    ]}
  >
    <Fragment slot="title">
      AHQ<br class="block sm:hidden" /><span class="sm:whitespace-nowrap"> Softwares</span>
    </Fragment>

    <Fragment slot="subtitle">
      Join us to experience this new generation of Developers<br class="hidden md:inline" />We're here for you all :)
    </Fragment>
  </CallToAction>
</Layout>
